/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
header a {
  color: inherit;
  text-decoration: none;
}
header a:hover {
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

.top, .menu {
  vertical-align: middle;
  display: inline-block;
}

.top {
  width: 150px;
  margin-right: 10px;
}

.top h1 {
  margin: 10px 0;
  text-align: center;
}

.menu {
  max-width: calc(100% - 200px);
  font-weight: 500;
}

.menu a {
  padding-right: 5px;
}

.notice, .alert {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0;
}

.notice {
  color: #ddd;
}

.alert {
  color: rgba(255, 0, 0, 0.5);
}

.row {
  padding: 10px;
  margin: 0;
}

.col-md-10 {
  padding: 0;
}

table {
  width: 100%;
  display: table;
  text-align: center;

}

.btn-to-text {
  border: none;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.paginate {
  text-align: center;
  padding: 5px 10px;
  nav {
    display: inline-block;
  }
}

select, textarea {
  width: 100%;
}
